.container.height {
    padding-top: 5%;
}
.login {
    height: 500px;
    background: url(https://frontrunner.wpninjathemes.com/wp-content/uploads/2019/05/testimonials.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section#appEvents {
    min-height: 534px;
    max-width: 1300px;
    margin: auto;
    padding-top: 47px;
}

span.messageRed {
    color: red;
}
.col-4.event {
    border-radius: 4px;
    background: #ffffff85;
    margin-top: 20px;
}

span.inlinet {
    float: left;
    margin-right: 5px;
}

button.addmember {
    background: green;
    border: 0px solid;
    color: white;
    border-radius: 2px;
    height: 32px;
}
.udetails {
    margin-top: 22px;
    border-top: 2px solid white;
    padding-top: 15px;
}

span.colorRed {
    color: green;
    font-weight: bold;
}
input[type="text"] {
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid white;
    height: 43px;
}
.deletem {
    color: red;
    font-size: 19px;
    background: #ffffffb3;
    margin-top: 10px;
    margin-bottom: -4px;
}

.row.backwhite {
    background: #ffffffc2;
    margin-top: 0px;
    padding-top: 18px;
}
.col-md-6.mdetails {
    background: #ffffff85;
    padding-top: 61px;
    margin-top: -18px;
    text-transform: capitalize;
}

h2.Login {
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 0px;
    color: #FF8218;
}

input.form-control.submit {
    background: #11265f;
    color: white;
    border: 1px solid #11265f;
}

.row.studnet_nav {
    background: hsl(0, 0%, 16%);
    PADDING: 5PX;
}

.row.studnet_nav {
    background: white;
    color: black;
    padding: 9px;
    padding-top: 20px;
}

h3.appointmnet_list {
    padding: 19px 0px 10px 0px;
    font-weight: normal;
    font-size: 27px;
}


span.high {
    font-weight: bold;
    color: #730b0b;
}


p.app {
    font-size: 22px;
}

.student .row {
    background: #f1f1f1;
}
h4 {
    text-transform: capitalize;
}

p.app {
    font-size: 18px;
    line-height: 14px;
    font-family: serif;
}
body {font-family: serif;!important}

.footer .row {
    text-align: center;
    font-size: 14px;
    color: #3a3a3a;
    padding: 13px;
    padding-top: 48px;
}

li.nav-item p {
    padding: 8px;
}

h3.appointmnet_list {
    padding: 19px 0px 6px 0px;
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 27px;
}

.min-height h3.appointmnet_list {
    padding: 0px 0px 6px 0px;
    margin-bottom: 9px;
    font-weight: normal;
    font-size: 27px;
}

.row.min-height {
    background: #f1f1f1;
    padding: 20px 67px 36px 67px;
}

.row.main_boder {
    margin-bottom: 27px;
    border-bottom: 1px solid #00000014;
}

.row.min-height {
    background: #f1f1f1;
    padding: 40px 67px 36px 67px;
    min-height: 591px;
}

.row.size {
    padding: 20px 67px 36px 67px;
    min-height: 591px;
}

.main_boder {
    border-bottom: 1px solid #00000014;
}

img.avatar {
    max-width: 73px;
}

span.inline button {
    padding: 0px;
    margin-bottom: 5px;
}

span.inline {
    display: block;
}


a.regi {
    display: none;
}

li.success {
    color: red;
    list-style: none;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 6em !important;
}

.container.wid100 {
    max-width: 100%!important;
    background:white;
}

.nav img {
    max-width: 69px;
    margin-top: -16px;
}

li.nav-item a {
    color: #5d5d5d;
}
.col-12.event {
    background: #FF8214;
    margin-top: 12px;
    border-radius: 6px;
}

.col-12.event {
    background: #FF8218;
    margin-top: 14px;
    border-radius: 4px 4px 0px 0px;
    height: 30px;
    padding-top: 4px;
}

p.event_title {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

p.month {
    font-family: sans-serif;
    font-size: 18px;
    color: #FF8214;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: bold;
}

.row.event-sub {
    background: white;
    padding-top: 18px;
    border-radius: 0px 0px 4px 4px;
}

p.month.day {
    font-size: 49px;
    line-height: 41px;
}

p.event_title_sub {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #424242;
}

p.event_in, p.event_out {
    border: 1px solid #00AAA9;
    max-width: 141px;
    margin: auto;
    text-align: center;
    margin-bottom: 14px;
    border-radius: 4px;
}

.inline li {
    list-style: none;
    display: inline;
    border: 1px solid;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
}
ul.inline {
    padding-left: 0px;
}

.footer {
    min-height: 121px;
    background: white;
}

section.foot {
    margin-top: 31px;
    padding-top: 14px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000000;
    height: 28px;
    padding: 0px;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
p.event_title_sub {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #424242;
    text-transform: capitalize;
}
span.eve {
    margin: auto;
    text-align: center;
}

p.event_in.eidt {
    color: red;
}
span.inline.test-user-0 {
    display: none;
}
span.inlinet {
    float: left;
    margin-right: 5px;
    display: contents;
}
.col-4.event {
    background: #ffffff85;
    margin-top: 15px;
}
button.addmember {
    background: green;
    border: 0px solid;
    color: white;
    border-radius: 2px;
    height: 39px;
    width: 232px;
}

span.red {
    color: red;
    font-weight: bold;
}

button.addEvent {
    width: 100%;
    border: 0px;
    border-radius: 5px;
    height: 35px;
    background: #045304;
    color: white;
}
input[type="text"] {
    margin-bottom: 6px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #b6b6b6;
    height: 43px;
    padding: 5px;
}

.row.backwhite {
    padding-bottom: 64px;
}
section#appEvents {
    min-height: 534px;
    max-width: 1045px;
    margin: auto;
    padding-top: 47px;
}

p.success {
    font-weight: bold;
    color: red;
}

div#AddUser {
    min-height: 688px;
}