<!DOCTYPE html>
<html>
<head>
	<title>Blog Admininstration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> 
    <!--vue.js source-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body class="login">
	<!--Navigation-->
	   <div class="container wid100">
	       <div class="container">
			   	<div class="row studnet_nav">
	   	            <div class="col-sm-8">            
					    <ul class="nav nav-pills">
					     	<li class="nav-item">
							    <a class="nav-link" href='index.html'><img src="../static/css/image/logo.png"></a>
							</li>
							<li class="nav-item">
							    <a class="nav-link active" href='index.html'>All Users</a>
							</li>
							<li class="nav-item">
							    <a class="nav-link" href='add_member.html'>Add users</a>
							</li>							  		

						 </ul>	                             
	                </div>

	                <div class="col-sm-4">
					    <ul class="nav nav-pills">
							<li class="nav-item">
							    <p>Wecome: Nijar</p> 
							</li>
							<li class="nav-item">
							    <a class="nav-link" href='#'>Log Out</a>
							 </li>
						 </ul>	     
		       		</div>
				  </div>
			</div>
    </div>
	<!--Main Body user section-->
    <section class="events" id="appEvents">



			    
			    	<div class="row studnet_nav">
			    		
				    	<div class="col-sm-8">
				    		<div v-for="(x , y) in info.data.results">
				                <div><h4>Nick Name: {{x.nickname}}</h4></div>
				                <div><p>Full Name: {{x.full_name}}</p></div>
				    		  	<div><p>Email: {{x.email}}</p></div>
				    		  	<button @click="de(x.id)" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Delete</button>
				    		  	<button @click="update(x.id,x.nickname,x.full_name,x.email)" class="btn btn-info"> <i class="fas fa-edit"></i></i> Update</button>
				    		  	<hr>
				    		</div>
			    		</div>
			    		<div class="col-sm-4">
			    			<div v-if="show">
			    			<input type="text" v-model="nickname" placeholder="Nick Name"><br>
							<input type="text" v-model="full_name" placeholder="Full Name"><br>
							<input type="text" v-model="email" placeholder="Email"><br>
							<button @click="add" class="btn btn-info"> <i class="fas fa-edit"></i></i> Update Details</button>
							<p class="success">{{message}}</p>
			    			</div>

			    		</div>
		            </div>
      
    </section>

	<!--footer sestion-->
	<section class="foot">
		   <div class="footer">
	           <div class="container wid100">
	               <div class="row">
	                  <div class="col-sm-12">
	                             Copyright 2019 , Developed By Nijar and Nasrin                     
	                  </div>
	       
	               </div>
	           </div>
	      </div>
	</section>
<!--Javascript vue file for all user-->
<script src="../js/users.js"></script>

</body>
</html>

